SNIPPETS_IMAGE=ghcr.io/ingenieria-en-sistemas-2025/printscript-snippets
EXECUTION_IMAGE=ghcr.io/ingenieria-en-sistemas-2025/printscript-execution
AUTH_IMAGE=ghcr.io/ingenieria-en-sistemas-2025/printscript-authorization
UI_IMAGE=ghcr.io/ingenieria-en-sistemas-2025/printscript-ui

SNIPPETS_TAG=<set-by-deploy>
EXECUTION_TAG=<set-by-deploy>
AUTH_TAG=<set-by-deploy>
UI_TAG=<set-by-deploy>

AUTH_DB_USER=<secret>
AUTH_DB_PASS=<secret>
SNIPPETS_DB_USER=<secret>
SNIPPETS_DB_PASS=<secret>

AUTH0_ISSUER_URI=https://<your-auth0-domain>.auth0.com/
AUTH0_DOMAIN=<your-auth0-domain>.auth0.com
AUTH0_AUDIENCE=<your-api-audience>
AUTH0_CLIENT_ID=<your-auth0-client-id>
AUTH0_CLIENT_SECRET=<your-auth0-client-secret>

DUCKDNS_SUBDOMAIN=<your-duckdns-subdomain>
DUCK_DNS_TOKEN=<your-duckdns-token>