AUTH_IMAGE=ghcr.io/ingenieria-en-sistemas-2025/printscript-authorization
SNIPPETS_IMAGE=ghcr.io/ingenieria-en-sistemas-2025/printscript-snippets
EXECUTION_IMAGE=ghcr.io/ingenieria-en-sistemas-2025/printscript-execution
UI_IMAGE=ghcr.io/ingenieria-en-sistemas-2025/printscript-ui

AUTH_TAG=set-in-vm
SNIPPETS_TAG=set-in-vm
EXECUTION_TAG=set-in-vm
UI_TAG=set-in-vm

DUCKDNS_SUBDOMAIN=set-in-vm
DUCKDNS_DOMAIN=set-in-vm
DUCK_DNS_TOKEN=set-in-vm
CERTBOT_EMAIL=set-in-vm

AUTH_DB_USER=authorization
AUTH_DB_PASS=authorization
SNIPPETS_DB_USER=snippets
SNIPPETS_DB_PASS=snippets

AUTH0_ISSUER_URI=set-in-vm
AUTH0_AUDIENCE=set-in-vm
AUTH0_CLIENT_ID=set-in-vm
AUTH0_CLIENT_SECRET=set-in-vm
AUTH0_DOMAIN=set-in-vm

AUTHORIZATION_BASE_URL=http://authorization:8080
EXECUTION_BASE_URL=http://execution:8080
SNIPPETS_BASE_URL=http://snippets:8080
ASSET_SERVICE_BASE_URL=http://asset-service:8080

ASSET_TAG=main.14
AZURE_HOST=http://azurite:10000

VITE_AUTH0_SCOPE=openid profile email read:snippets write:snippets read:authorizations write:authorizations execute:code admin:rules read:users
VITE_FRONTEND_URL=set-in-deploy
VITE_AUTH0_CLIENT_ID=set-in-deploy