events {}

http {

  map $http_origin $cors_allow_origin {
    default "";
    "http://localhost:5173" "http://localhost:5173";
    "https://${DUCKDNS_DOMAIN}" "https://${DUCKDNS_DOMAIN}";
  }


  resolver 127.0.0.11 ipv6=off valid=30s;


  proxy_set_header Host              $host;
  proxy_set_header X-Real-IP         $remote_addr;
  proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Proto $scheme;
  proxy_set_header Authorization     $http_authorization;
  proxy_pass_header Authorization;

  proxy_connect_timeout 5s;
  proxy_send_timeout    60s;
  proxy_read_timeout    60s;
  send_timeout          60s;
  client_max_body_size  10m;

  server {
    listen 80;
    listen 443 ssl;
    server_name ${DUCKDNS_DOMAIN};

    ssl_certificate     /etc/letsencrypt/live/${DUCKDNS_DOMAIN}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${DUCKDNS_DOMAIN}/privkey.pem;


    set $ui       http://printscript-ui:80;
    set $snippets http://snippets:8080;
    set $auth     http://authorization:8080;
    set $exec     http://execution:8080;

    # Redirect HTTP → HTTPS (excepto ACME)
    if ($scheme = http) { return 301 https://$host$request_uri; }

    # ACME (certbot)
    location ^~ /.well-known/acme-challenge/ {
      root /var/www/certbot;
    }


    location / {
      add_header 'Access-Control-Allow-Origin'  $cors_allow_origin always;
      add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, DELETE, OPTIONS' always;
      add_header 'Access-Control-Allow-Headers' 'Authorization, DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range' always;
      add_header 'Access-Control-Max-Age' 2592000 always;

      if ($request_method = 'OPTIONS') {
        add_header 'Content-Type'  'text/plain; charset=utf-8' always;
        add_header 'Content-Length' 0 always;
        return 204;
      }

      proxy_pass $ui;
    }

    location ^~ /snippets {
      add_header 'Access-Control-Allow-Origin' $cors_allow_origin always;
      proxy_pass http://snippets:8080;
    }

    location ^~ /authorization/ {
      add_header 'Access-Control-Allow-Origin' $cors_allow_origin always;
      proxy_pass $auth/;
    }
    location = /authorization {
      add_header 'Access-Control-Allow-Origin' $cors_allow_origin always;
      proxy_pass $auth/;
    }


    location ^~ /execution/ {
      add_header 'Access-Control-Allow-Origin' $cors_allow_origin always;
      proxy_pass $exec/;
    }

    # (opcional) fallback SPA
    location @ui_fallback {
      proxy_pass $ui;
      rewrite ^.*$ /index.html break;
    }
  }
}